.item {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
    color: rgb(0, 47, 255);
    border-style: double;
    border-color: rgb(175, 175, 175);
    margin-top: 10px;
}

.item img {
    height: 70px;
    width: 70px;
     
}

.like img{
    width: 20px;
    height: 20px;
}




  